<% hidden_flag = question.hidden? ? 'hidden' : '' %>

<div class="mb-sm">
  <p>Автор вопроса:</p>
  <%= question_author(question) %>
</div>

<div class="mb-sm <%= hidden_flag %> question-body-text">
  <%= question.body %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if question.user == current_user %>
    <div>
      <% edit_icon = (question.answer.blank? ? 'reply' : 'pencil') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question),
        title: 'Изменить вопрос', class: 'mr-sm' %>
      <%= button_to fa_icon('trash-o'), question_path(question),
        method: :delete, title: 'Удалить вопрос' %>
      <% unless question.hidden? %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), title: 'Спрятать вопрос', method: :put, form: {data: {turbo_confirm: 'Вы действительно хотите скрыть вопрос? Это действие необратимо.'}} %>
      <% end %>
    </div>
  <% end %>
</div>
